@mixin respond($breakpoint) {
    /** screen max with 400px **/
    @if $breakpoint == small-phone {
        @media only screen and (max-width: 25em) {
        // 400px
        @content;
        }
    }

    /** screen max with 600px **/
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
        //600px
        @content;
        }
    }

    /** screen max with 900px **/
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {
        //900px;
        @content;
        }
    }

    /** screen max with 1200px **/
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
        //1200px;
        @content;
        }
    }

    /** screen max with 1800px **/
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {
        //1800px;
        @content;
        }
    }
}

@mixin roundedIcon {
    width: 3.65rem;
    height: 3.65rem;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}