$color-white: #fff;
$color-grey: #9e9e9e;
$color-grey-100: #f5f5f5;
$color-grey-200: #eeeeee;
$color-grey-300: #e0e0e0;
$color-grey-400: #bdbdbd;
$color-grey-500: #9e9e9e;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-theme-default: #0088cc;

$color-primary: rgb(80,162,233);
$color-primary-opacity: rgba(80,162,233,0.501961);
$color-primary-shade: rgb(74,149,214);
$color-background: rgb(255,255,255);
$color-background-secondary: rgb(244,244,245);
$color-background-secondary-accent: rgb(228,228,229);
$color-background-own: rgb(238,254,223);
$color-background-own-apple: rgb(231,253,204);
$color-background-selected: rgb(244,244,245);
$color-background-own-selected: rgb(212,252,174);
$color-chat-hover: rgb(244,244,245);
$color-chat-active: rgb(76,144,230);
$color-item-active: rgb(237,237,237);
$color-text: rgb(0,0,0);
$color-text-secondary: rgb(112,117,121);
$color-text-secondary-apple: rgb(142,142,146);
$color-borders: rgb(218,220,224);
$color-borders-input: rgb(218,220,224);
$color-dividers: rgb(200,198,204);
$color-links: rgb(82,161,239);
$color-links-hover: rgb(45,141,236);
$color-gray: rgb(196,201,204);
$color-pinned: rgb(196,201,204);
$color-default-shadow: rgba(114,114,114,0.25098);
$color-light-shadow: rgba(114,114,114,0.168627);
$color-green: #4dcd5e;
$color-text-meta-colored: rgb(77,205,94);
$color-reply-hover: rgb(244,244,244);
$color-reply-active: rgb(232,233,233);
$color-reply-own-hover: rgb(219,244,206);
$color-reply-own-hover-apple: rgb(217,249,193);
$color-reply-own-active: rgb(200,235,188);
$color-reply-own-active-apple: rgb(213,237,194);
$color-accent-own: rgb(79,174,78);
$color-message-meta-own: rgba(79,174,78,1);
$color-own-links: rgb(82,161,23);