.contactsheader {
    width: 100%;
    background-color: $color-theme-default;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.55rem 0.65rem;
    }

    &__icon {
        @include roundedIcon;
        color: $color-grey-200;
        margin: 0 0.6rem;
    }

    &__title {
        flex: 1;
        color: $color-grey-200;
        margin-left: 1rem;
        font-family: inherit;
        font-size: 1.6rem;
        letter-spacing: 0.045rem;
    }
}