.navbar {
    width: 100%;
    background-color: $color-theme-default;
    padding: 1.5rem 0.65rem;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__icon {
        @include roundedIcon;
        color: $color-grey-200;
    }

    &__textview {
        margin-left: 1rem;
        font-size: 2rem;
        color: $color-grey-200;
    }
}